
{% include 'header.html'  %}

<body>

{% include 'navbar.html'  %}

<div id="dvError" class="alert alert-danger" role="alert"
    style="display:none">
</div>
<div class="container accounts" id="section-title">
    <h3>Accounts </h3>
</div>

<div class="container">
    <div id="container-transactions" >

        <form class="form-inline" id="frmAccount" onSubmit="return chkAccount();" action="/addAccount"  method="post">



            <div class="form-group mb-2">

            <input class="form-control" id="nameAccount" name="nameAccount" placeholder="Name">
            </div>

            <div class="form-group mx-sm-3  mb-2">

            <input class="form-control" id="descriptionAccount" name="descriptionAccount" placeholder="Description">
            </div>

           <input type="submit" value="Add account" class="btn btn-primary mb-2">





    </form>
</div>
    </div>

<div id="accounts-container" class="container">
    <div class="row">
   <table class="table table-hover">
  <thead class="thead-dark">
    <tr>

      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    {% if accounts.count() > 0 %}
    {% for account in accounts %}
        <tr>
		    <th>{{ loop.index }}</th>
			<td>{{ account.name }}</td>
			<td>{{ account.description }}</td>
            <td>
                <a class="edit btn btn-primary" href="/deleteAccount?key={{account.key.urlsafe()}}"> Delete </a>
                <a class="edit btn btn-primary" href="/viewAccount?key={{account.key.urlsafe()}}"> View </a>
			</td>
		</tr>
    {% endfor %}
    {% else %}
    <b>No accounts found.</b>
    {% endif %}

  </tbody>
</table>
    </div>
</div>


{% include 'footer.html'  %}